.card-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h2{
    text-align: center;
}
.max-width{
    max-width: 1280px;
    margin: 0 auto;
}
.action-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;    
}
.pagination-buttons{
    display: flex;
    justify-content: center;
    align-items: center;    
    button {
        height: 3em;
        width: 100px;
        border-radius: 3px;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: 1px solid #dfdfdf;
        background-color: #333;
        color: #fff;
        margin-right: 10px;
    }
   
   button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }
   button:disabled {
    background-color: #dfdfdf;
    color: #333;
    cursor: not-allowed;
   }
   &.bottom-buttons{
       margin-top: 50px;
       margin-bottom: 50px;
       justify-content: flex-end;
   }
}