.card-container {
    min-height: 200px;
    border-radius: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: #616161;
    align-items: center;
    margin: 0 0 20px 20px;
    .card-body {
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
        .pokemon-data {
            background-color: #232323;
            color: #fff;
            padding: 10px;
            .pokemon-name{
                font-size: 16px;
                font-weight: 600;
                line-height: 1.4;
            }      
            .pokemon-specifics{
                font-size: 12px;
                font-weight: 400;
            }      
        }
    }
    .card-body:hover {
        img {
            transform-origin: left top;
        animation: scale 1000ms ease-in-out forwards;
        } 
      }
    
}

 @keyframes scale {
    to {
      transform: scale(1.2);
    }
  }

 